.container {
  text-align: center;
}

.logo {
  pointer-events: none;
  width: 300px;
}

// @media (prefers-reduced-motion: no-preference) {
//   .logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.header {
  background-color: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 6rem auto;
  font-size: calc(10px + 2vmin);
  color: #616161;
}

.description {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.link {
  color: #2d4691;
  font-size: 1rem;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
