.App {
  text-align: center;
}

.App__Logo {
  pointer-events: none;
  width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App__Logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App__Header {
  background-color: #fff;
  min-height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  color: #616161;
}

.App__Desc {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.App__Link {
  color: #2d4691;
  font-size: 1rem;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
